* {
    box-sizing:border-box;
}

body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.px;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0,5;
}


*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;        
}


.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site-header{
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 5px solid #ff7500;
    background-color: #fff;
    
}


.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-link {
    transition: opacity 0.5s ease;
}


.logo-link:active {
    opacity: 0.6;
}


.logo-link:hover {
    opacity: 0.8;
}


.site-header-action {
    display: flex;
    align-items: center;
    
}


/* SITENAV */
.sitenav-list{
    display: flex;
    list-style: none;
    padding: 0px; 
    margin: 0px;
    margin-right: 32px;
} 

.sitenav-item:last-child {
    /* bu psevdoklas <ul> elementining oxirgi bolasi yani li ga tasir kursatadi   */
    margin-right: 0;
}


.sitenav-item {
    margin: 32px;
}


.sitenav-link{
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition:color 0.4s ease,
    opacity 0.4s ease;
}


.sitenav-link:hover {
    color: #ff7500
}


.sitenav-link:active {
    opacity: 0.6;
}



.main-link{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    background-color: #ff7500 ;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.4s ease;
    
}


.main-link:hover{
    opacity: 0.5;
}


.hero{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #252420;
    color: #fff;
}


.hero-contianer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-content{
    width: 390px;
}


.oreng-line{
    width: 80px;
    height: 3px;
    border:none;
    margin: 0px;
    margin-bottom: 40px;
    background-color: #ff7500;
}


.hero-heading{
    margin: 0px;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0,5px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}


.hero-text {
    margin-top: 0px;
    margin-bottom: 32px;
}


.hero-img{
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 20px 20px 0 0 #ff7700ae;
}


.features {
    padding-top: 210px;
    padding-bottom: 210px;
    margin-right: 40px;
}

.features:last-child{
    margin: 0;
}


.features-heading{
    margin-top: 0px;
    margin-bottom: 72px;
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
    
}


.icon-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.features-list {
    margin: 0px;
    display: flex;
    list-style: none;
    padding: 0;
}


/* FEATURE */
.feature{
    width: 340px;
}


.features-icon-wrapper{
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    border-radius:50%;
    background-color: #fff;
}


.feature-title{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}


.feature-info {
    margin: 0;
}



/* PROMO */
.promo {
    padding-top: 120px;
    padding-bottom: 160px;
}


.promo-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
}


.promo-content{
    width: 340px;
}


.promo-heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


.promo-info-wrapper {
    margin-bottom: 24px;
}


.promo-text {
    margin-top: 0;
    margin-bottom: 12px;
}

.promo-text:last-child{
    margin: 0;
}



.promo-highlight{
    color: #ff7500;
}


.promo-img{
    width: 440px;
    height: 440px;
    border-radius: 10px;
    object-fit: cover;
} 


/* SITEFOOTER */
.site-footer{
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #fefdfd;
}


.site-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.site-footer-socials {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0;
}

/* IMG-BLOCG */
.site-footer-socials li{
    margin-right: 16px;
}

.site-footer-socials li{
    margin-right: 0;
}

.site-footer-socials:hover{
    color:#ff7500
}


.site-footer-socials:hover {
    opacity: 0.8;
}


.site-footer-socials svg{
    display: block;
}



.site-footer-divider{
    height: 2px;
    border:0;
    margin-top: 40px;
    margin-bottom: 64px;
    background: rgba(37, 36, 32, 0.502);
}


.site-footer-bottom {
    display: flex;
    justify-content: space-between;
}



.site-footer-link-list{
    padding: 0;
    margin: 0;
    margin-right: 68px;
    list-style: none;
    line-height: 19px;
    width: 224px;
}

.site-footer-link-list:last-child{
    margin-right: 0;
}

.site-footer-link-list li {
    margin-bottom: 16px;
}


.site-footer-link-list li:last-child{
    margin-bottom: 0;
}


.site-footer-link-list a {
    text-decoration: none;
    color: #062575;
}



.site-footer-link-list a:hover{
    color:#ff7500;
}


.site-footer-link-list a:active {
    opacity: 0.6;
}


