body{
    font-size: 16px;
    line-height: 1.px;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0,5;
}


*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;        
}


.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
}


.logo-link {
   transition: opacity 0.5s ease;
}


.logo-link:active {
    opacity: 0.6;
}


.logo-link:hover {
    opacity: 0.8;
}


.site-header-action {
    display: flex;
    align-items: center;

}

 
.sitenav-list{
   display: flex;
   list-style: none; 
} 


.sitenav-link{
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition:color 0.4s ease,
    opacity 0.4s ease;
}


.sitenav-link:hover {
    color: #ff7500
}


.sitenav-link:active {
    opacity: 0.6;
}



.main-link{
     font-size: 13px;
     line-height: 15px;
     background-color: #ff7500 ;
     color: #fff;
     text-decoration: none;
     transition: opacity 0.4s ease;

}


.main-link:hover{
    opacity: 0.5;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
}


.hero-content{
    width: 390px;
}


.oreng-line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}


.hero-heading{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0,5px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}




.hero-img{
    width: 510px;
    height: 510px;
}


.features-heading{
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
   
}


.icon-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.feature{
     width: 340px;
}


.features-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: #fff;
}


.feature-title{
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}




.promo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}


.promo-content{
    width: 340px;
}


.promo-heading{
    font-size: 40px;
    line-height: 48px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}



.promo-highlight{
    color: #ff7500;
}


.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
} 

.site.footer{
    background-color: #f8f8f8;
}


.site-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.site-footer-socials {
    display: flex;
    align-items: center;
    list-style: none;
}



.site-footer-socials:hover{
    color:#ff7500
}


.site-footer-socials:hover {
    opacity: 0.8;
}



.site-footer-divider{
    height: 2px;
    background: rgba(37, 36, 32, 0.502);
}


.site-footer-bottom {
    display: flex;
    justify-content: space-between;
}



.site-footer-link-list{
    list-style: none;
    line-height: 19px;
    width: 224px;
}



.site-footer-link-list a {
    text-decoration: none;
    color: #062575;
}



.site-footer-link-list a:hover{
    color:#ff7500;
}


.site-footer-link-list a:active {
    opacity: 0.6;
}
